/* You can add global styles to this file, and also import other style files */

html, body 
{ 
    height: 100%; 
    background-color: black;
    background-image: url("/assets/11014.jpg"); 
}

body 
{ 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

p
{
    color: white
}

input:disabled,select:disabled,textarea:disabled 
{
    color: white !important;
}

img
{
    color:white;
}