mat-toolbar
{
  background-color:transparent;
  width: 100%;
  min-height:min-content;
  padding: 20px;
}

.tmdb
{
  text-decoration: none;
  vertical-align: middle;
}

.flexExpand {
  flex: 1 1 auto;
}

.container
{
  display: flex;
  margin:auto;
  width:100%;
}

.authors
{
 text-align: left;
}

p
{
  vertical-align: left;
    color:white;
}

a
{
  color: white;
}

