PopcornPicksServer/__pycache__/app.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicks Movie Recommender/SimilarityTMDB.pickle
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/migrations/__pycache__/env.cpython-313.pyc
PopcornPicksServer/migrations/versions/__pycache__/bfb76b64a54b_initial_migration.cpython-313.pyc
PopcornPicksServer/__pycache__/search.cpython-313.pyc
PopcornPicksServer/migrations/__pycache__/env.cpython-313.pyc
PopcornPicksServer/migrations/versions/__pycache__/bfb76b64a54b_initial_migration.cpython-313.pyc
PopcornPicks Movie Recommender/SimilarityTMDB.joblib
PopcornPicksClient/src/environments/environment.development.ts
PopcornPicksClient/src/environments/environment.ts
PopcornPicksServer/.env
node_modules/
.vite/
.angular/
PopcornPicksClient/dist/
