<div class="home">
    <mat-card class="favorites-section" appearance="outlined">
      <mat-card-header>
        <h2>Your Favorites</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="movie-list">
          <div class="movie-item" *ngFor="let movie of mostRecentFavorites">
            <a [routerLink]="['/movie']" [queryParams]="{ id: movie.movie_id }">
              <img class="movie-poster" src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="{{ movie.title }} Poster" />
              <p class="movie-title"><b>{{ movie.title }} ({{ movie.release_date | slice:0:4 }})</b></p>
            </a>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="viewFavorites()" class="button">See All</button>
      </mat-card-actions>
    </mat-card>
  
    <br />
    <br />
  
    <mat-card class="last-watched-section" appearance="outlined">
      <mat-card-header>
        <h2>Last Watched</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="movie-list">
          <div class="movie-item" *ngFor="let movie of mostRecentWatched">
            <a [routerLink]="['/movie']" [queryParams]="{ id: movie.movie_id }">
              <img class="movie-poster" src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="{{ movie.title }} Poster" />
              <p class="movie-title"><b>{{ movie.title }} ({{ movie.release_date | slice:0:4 }})</b></p>
            </a>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="viewHistory()" class="button">See All</button>
      </mat-card-actions>
    </mat-card>
  </div>
  