<div class="movieInfoCard">
<mat-card appearance="outlined">
    <mat-card-header>
      <div *ngIf="wasWatched === 0">
        <button mat-icon-button (click)="addToWatchHistory()" class="watch-history-button" aria-label="Add to watch history">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="wasWatched === 1">
        <button mat-icon-button (click)="addToWatchHistory()" class="check-watch-history-button" aria-label="Add to watch history" [disabled]="true">
          <mat-icon class="checkedWatchHistory">check_circle</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content *ngIf="currMovie$ | async as currMovie;">
      
      <img mat-card-image *ngIf= "posterPath != null"  src="https://image.tmdb.org/t/p/w1280{{currMovie.poster_path}}" alt="{{currMovie.title}} Poster">
      <img mat-card-image *ngIf = "posterPath == null" src="assets/filmreel.svg" alt="This movie doesn't have a poster.">

      <div class="movieInfo">
      <h1>{{currMovie.title}}</h1>
      <h2>{{currMovie.release_date| date:'MMMM d, yyyy'}}</h2>
      <h2>Genres</h2>
      <p><strong><span *ngFor="let genre of currMovie.genres; let last = last">
        {{ genre.name }}{{last ? '':', '}}
      </span></strong></p>
      <h2>Overview</h2>
      <p>
       <i>
        {{currMovie.overview}}
      </i>
      </p>
      </div>
    </mat-card-content>
    <br>
    <div class="starRating">
      <h2>Rating:</h2> 
      
    <button mat-icon-button *ngFor="let numStar of numStars; index as i" [id] = "'rate_' + i"><mat-icon class="yellow-icon" (click)="starRating(i+1)">{{showStar(i)}}</mat-icon></button>
      
    </div>

    <div class="reviewText">
      <h2>Your Movie Review</h2>
      <form class="reviewForm">
      <mat-form-field class="inputReview">
        <textarea matInput id="reviewText" [disabled]=disableText placeholder="Write a Review here!" [(ngModel)]="movieReview" name="movieReview"></textarea><br>
      </mat-form-field>
      <br>
      <div class="reviewButtons">
      <button mat-raised-button type="button" id="startRev" (click)="activateRevEdit()" [disabled]=disableEdit>Edit</button>
        <button mat-raised-button type="button" id="saveReview" (click)="subReview()" [disabled]=disableSave>Save</button>
        <button mat-raised-button type="button" id="revertReview" (click)="revertReview()" [disabled]=disableCancel>Cancel</button>
      </div>
    </form>

    </div>
  </mat-card>
</div>

