.movieInfoCard {
  display: flex;
    max-width: 1200px; 
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  mat-card-content{
    align-content: center;
  }

  .movieInfo {
    padding-left: 300px;
  }

  .movieInfo p{
    color:black;
    align-items: center;
  }

  img{
    width: 250px;
    height: 400px;
    float: left;
  }

  .starRating {
    padding-left: 50px;
  }

  .reviewText {
    padding-left: 50px;
    width: 100%;
  }
  
  .inputReview {
    width: 90%;
  }

  textarea{
    width: 100%;
    height: 100px;
  }

  .rating {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .yellow-icon {
    color: rgb(217, 194, 20);
  }

  .watch-history-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background-color: #f5f5f5;
    border-radius: 50%;
  }
  
  .watch-history-button:hover {
    background-color: #e0e0e0;
  }
  