<div class="movieInfoCard">
<mat-card appearance="outlined">
    <mat-card-content>
      
      <img mat-card-image src="https://image.tmdb.org/t/p/w1280{{posterPath}}" alt="{{movieTitle}} Poster">

      <div class="movieInfo">
      <h1>{{movieTitle}}</h1>
      <h2>{{movieDate}}</h2>
      <h2>Genres</h2>
      <p><strong>{{movieGenres}}</strong></p>
      <h2>Overview</h2>
      <p>
       <i>
        {{movieOverview}}
      </i>
      </p>
      </div>
    </mat-card-content>
    <br>
    <div class="starRating">
      <h2>Rating:</h2> 
      
    <button mat-icon-button *ngFor="let numStar of numStars; index as i" [id] = "'rate_' + i"><mat-icon class="yellow-icon" (click)="starRating(i+1)">{{showStar(i)}}</mat-icon></button>
      
    </div>

    <div class="reviewText">
      <h2>Your Movie Review</h2>
      <form class="reviewForm">
      <mat-form-field class="inputReview">
        <textarea matInput placeholder="Write a Review here!"></textarea><br>
      </mat-form-field>
      <br>
      <button mat-raised-button>Edit</button>
        <button mat-raised-button disabled>Save</button>
        <button mat-raised-button disabled>Cancel</button>
    </form>

    </div>
  </mat-card>
</div>

