.movieInfoCard {
  display: flex;
    max-width: 1200px; 
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }

  mat-card-content{
    align-content: center;
  }

  .movieInfo {
    padding-left: 300px;
  }

  .movieInfo p{
    color:black;
    align-items: center;
  }

  img{
    width: 250px;
    height: 400px;
    float: left;
  }

  .starRating {
    padding-left: 50px;
  }

  .reviewText {
    padding-left: 50px;
    width: 100%;
  }
  
  .inputReview {
    width: 100%;
  }

  textarea{
    width: 80%;
    height: 100px;
  }

  .rating {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .yellow-icon {
    color: rgb(217, 194, 20);
  }

  