<div class="movieInfoCard" *ngIf="currMovie$ | async as currMovie;">
<mat-card appearance="outlined">
    <mat-card-header>
      <div *ngIf="wasWatched === 0">
        <button mat-icon-button (click)="addToWatchHistory()" matTooltip="Add Movie to Watch History" matTooltipPosition=above matTooltipShowDelay="700" matTooltipHideDelay="0" class="watch-history-button" aria-label="Add to watch history">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="wasWatched === 1">
        <button mat-icon-button (click)="removeWatchHistory()" class="check-watch-history-button" matTooltip="Remove From Watch History" matTooltipPosition=above matTooltipShowDelay="700" matTooltipHideDelay="0" aria-label="Remove from watch history">
          <mat-icon class="checkedWatchHistory">check_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFavorite()" class="favorite-button" matTooltip="Toggle Movie as Favorite" matTooltipPosition=above matTooltipShowDelay="700" matTooltipHideDelay="0" aria-label="Toggle Favorite">
          <mat-icon class="favorite-icon">{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      
      <img mat-card-image class = posterImg [src]="currMovie.poster_path ? 'https://image.tmdb.org/t/p/w1280/' + currMovie.poster_path : 'assets/filmreel.svg'" [alt]="currMovie.poster_path ? 'currMovie.title Poster' : currMovie.title + ' does not have a poster'">
      <br>
      <div class="movieInfo">
      <h1>{{currMovie.title}}</h1>
      <h2>{{currMovie.release_date| date:'MMMM d, yyyy'}}</h2>
      <h2>Genres</h2>
      <p><strong><span *ngFor="let genre of currMovie.genres; let last = last">
        {{ genre.name }}{{last ? '':', '}}
      </span></strong></p>
      <h2>Overview</h2>
      <p>
       <i>
        {{currMovie.overview}}
      </i>
      </p>
      </div>
    </mat-card-content>
    <br>
    <div class="starRating">
      <h2>Rating: {{rating}}/10</h2> 
    <button class="rating-button" disableRipple="true" mat-icon-button *ngFor="let numStar of numStars; index as i" [id] = "'rate_' + i" matTooltip="{{numStar}}" matTooltipPosition=below><mat-icon class="yellow-icon" (click)="starRating(i+1)">{{showStar(i)}}</mat-icon></button>
      
    </div>
    <br>
    <div class="reviewText">
      <h2>Your Movie Review</h2>
      <form class="reviewForm">
      <mat-form-field class="inputReview" hintLabel="Max 10000 characters">
        <textarea matInput #review class="reviewInput" maxLength="10000" id="reviewText" [disabled]=disableText placeholder="Write a Review here!" [(ngModel)]="movieReview" name="movieReview"></textarea><br>
        <mat-hint align="end">{{review.value.length}} / 10000</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <div class="reviewButtons">
      <button mat-raised-button type="button" id="startRev" (click)="activateRevEdit()" [disabled]=disableEdit>Edit</button>
        <button mat-raised-button type="button" id="saveReview" (click)="subReview()" [disabled]=disableSave>Save</button>
        <button mat-raised-button type="button" id="revertReview" (click)="revertReview()" [disabled]=disableCancel>Cancel</button>
      </div>
    </form>

    </div>
  </mat-card>
</div>

