<div class="loginArea">
    <mat-card appearance="outlined" class="loginCard">
        <mat-card-header>
            <mat-label><h1>Please enter your email address. An email will be sent to help reset password.</h1></mat-label>
        </mat-card-header>
        <br>
        <br>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input class="email" type="email" matInput placeholder="something@something.com" required/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>
                Send Email
            </button>

            <button routerLink="/logincomponent" mat-raised-button>
                Back to Login
            </button>

        </mat-card-actions>
    </mat-card>
</div>