mat-toolbar
{
  background-color:rgb(217, 194, 20);
}

.example-spacer 
{
    flex: 1 1 auto;
}

.searchBar 
{
  display:block;
  visibility: hidden;
  width: 0;
  height: 0;
  flex: auto;
}

.searchArea
{
  width:  120px;
  height: 60px;
  flex: auto;
  align-content: center;
  border-radius: 100%
}

.register
{
  margin-right: 40px;
}

.login
{
  margin: auto;
}

a
{
  text-decoration: none;
}
