<mat-toolbar>
    <span class="home">
      <a routerLink="/welcomecomponent" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="welcomecomponent">
      PopcornPicks<img src="assets/popcorn-kernel.jpg" alt="PopcornPicks" width="40" height="50" style="vertical-align:middle">
      </a>
    </span>

    <span class="example-spacer"></span>

    <span class = "searchArea">
      <mat-form-field>
        <input class = "searchBar" matInput type="search">
        <button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </span>

    <button mat-raised-button routerLink="/registercomponent" class="register">
      Register Now
  </button>

    <a routerLink="/logincomponent" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button class = "login" routerLink="logincomponent">
      Log In
    </a>
    
  </mat-toolbar>
  <router-outlet></router-outlet>