#navbar 
{
  padding: 20px;
}

.home
{
  transform: scale(1, 1);

}

mat-icon
{
  color:black;
}

mat-toolbar
{
  background-color:transparent;
}

.example-spacer 
{
    flex: .65 1 auto;
}

.searchBar 
{
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
  flex: auto;
}

.searchArea
{
  width:  120px;
  height: 60px;
  flex: auto;
  align-content: center;
  border-radius: 100%
}

.register
{
  margin-right: 40px;
}

.login
{
  margin: auto;
}

a
{
  text-decoration: none;
  color:white;
}
