<mat-toolbar>
    <span>
      PopcornPicks<img src="assets/popcorn-kernel.jpg" alt="PopcornPicks" width="40" height="50" style="vertical-align:middle">
    </span>

    <span class="example-spacer"></span>

    <span class = "searchArea">
      <mat-form-field>
        <input class = "searchBar" matInput type="search">
        <button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </span>

    <button class = "register" mat-raised-button href = "" target = "">
      Register Now
    </button>

    <button class = "login" mat-raised-button href = "" target = "">
      Log In
    </button>
    
  </mat-toolbar>