.search {
    display: flex;
    text-align: center;
    margin-top: 3px;
}

.search-bar {
    width: 350px;
}

mat-icon-button {
    padding: 0;
    margin-right: 4px;
}

mat-form-field {
    width: 100%;
}
