p {
    color: black;
}

.RecommendCard
{
    display: flex;
    max-width: 1200px; 
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.instruct 
{
    padding: 10px;
}

button
{
    margin:auto;
    margin-bottom: 20px;
}