p, h1 {
    color: white;
}

mat-card-title {
    color: white;
}

.RecommendCard
{
    display: flex;
    max-width: 1200px; 
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.Result
{
    display: flex;
    max-width: 1200px; 
    align-items: center;
    justify-content: center;
    margin:auto;
}

.movieCard
{
    max-width: 1200px;
}

.RecMovieCard
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: auto;
}


iframe
{
    flex: 2;
    margin: 25px;
}

.instruct 
{
    padding: 10px;
}

.recButton
{
    margin:auto;
    margin-bottom: 20px;
    background-color: #990000 !important;
}

.videoPlayer
{
    margin: 10px;
}

.movieInfo {
    max-width: 200px;
    height: 400px;
    text-align: center;
    flex: 1;
    transition: transform .3s ease, box-shadow .3s ease;
    margin: 10px;
}

.movieInfo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
}
