<div class="SetupCard">
    <mat-stepper orientation="horizontal" linear="true">
        <mat-step label="Select your favorite Movie Genres">
            <mat-form-field>
                <mat-checkbox>Action</mat-checkbox>
                <mat-checkbox>Comedy</mat-checkbox>
                <mat-checkbox>Romance</mat-checkbox>
                <mat-checkbox>Horror</mat-checkbox>
                <mat-checkbox>Sci-Fi</mat-checkbox>
            </mat-form-field>
        </mat-step>
    </mat-stepper>
</div>
  