.SetupCard
{
  width: 600px;
  height: 400px;
  align-content: center;
  vertical-align: center;
  margin:auto;
  padding-top: 100px;
}

.GenreCheck
{
  align-content: center;
  padding: 20px;
  margin:auto;
}

mat-checkbox
{
  margin:auto;
  padding: 10px 0px 10px 10px;
}

mat-label
{
  padding:10px;
  margin:auto;
}

h3 {
  color: white;
  align-content: center;
}

.recText{
  align-content: center;
  padding: 10px;
}

.continue
{
  background-color:#9a090e;
}

mat-raised-button {
  background-color:#9a090e;
  width: 20px
}