<div class="SetupCard">
    <mat-stepper orientation="vertical" linear=true>
        <mat-step label="Select your favorite Movie Genres">
            <mat-checkbox id="Action">Action</mat-checkbox> <br>
            <mat-checkbox id="Comedy">Comedy</mat-checkbox> <br>
            <mat-checkbox id="Romance">Romance</mat-checkbox> <br>
            <mat-checkbox id="Horror">Horror</mat-checkbox> <br>
            <mat-checkbox id="Sci-Fi">Sci-Fi</mat-checkbox> <br>
            <button mat-raised-button matStepperNext>Next</button>
        </mat-step>

        <mat-step label="Write down your favorite 3 movies">
            <input matInput id="movie1">
            <br>
            <br>
            <input matInput id="movie2">
            <br>
            <br>
            <input matInput id="movie3">
        </mat-step>
    </mat-stepper>
</div>
  