.registerArea
{
    width: 500px;
    height: 400px;
    align-content: center;
    vertical-align: center;
    margin:auto;
}

.registerCard
{
    width:100%;
}

input
{
    border: bottom 1px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-card-header
{
    background-color: rgb(217, 194, 20);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

mat-form-field
{
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

button
{
    margin:auto;
}