.infoArea
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-top: 20px;
    margin:auto;
    margin-bottom: 20px;
}

.accInfo
{
    align-content: center;
}

h3 {
    color: white;
}

mat-label
{
    color: white;
}

mat-form-field {
    color: white;
}

.changePass
{
    text-align: center;
}

::ng-deep .Email input {
    color: white !important;
}