.infoArea
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-top: 20px;
    margin:auto;
    margin-bottom: 20px;
}

.accInfo
{
    align-content: center;
}

mat-label
{
    color:black;
}

.changePass
{
    margin-left: 50px;
}