<div *ngIf="watchHistory.length > 0" class="watch-history">
  <h2>Watch History</h2>

  <!-- Filter Section -->
  <mat-form-field>
    <mat-select placeholder="Filter by" [(value)]="filter">
      <mat-option value="all">All Movies</mat-option>
      <mat-option value="favorites">Favorites</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="movie-grid">
    <!-- Movie Items -->
    <div *ngFor="let movie of filteredWatchHistory()" class="movie-item">
      <mat-card class="movie-card">
        <!-- Poster Image -->
        <ng-container *ngIf="movie.poster_path != null">
          <img mat-card-image src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
        </ng-container>
        <ng-container *ngIf="movie.poster_path === null">
          <img class="noMoviePoster" mat-card-image height="300px" src="assets/filmreel.svg" alt="{{ movie.title }} has no Poster">
        </ng-container>

        <!-- Card Content -->
        <mat-card-content>
          <mat-card-title>{{ movie.title }} ({{ movie.release_date | slice:0:4 }})</mat-card-title>
          <p>Watched on: {{ movie.watch_date | date:'MMMM d, yyyy'}}</p>

          <!-- Favorite Button -->
          <button mat-icon-button (click)="toggleFavorite(movie)">
            <mat-icon>{{ movie.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- No Watch History Message -->
<div *ngIf="watchHistory.length === 0" class="no-results">
  <p>No movies watched yet.</p>
</div>
